.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
env/
venv/
datacrew/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS-specific
.DS_Store

# CrewAI outputs
*.md
output/
db/
knowledge/